<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
    <!-- Barra de Navegación superior -->
    <nav th:replace="fragments/nav"/>

    <div class="container">

        <h2 th:text="#{Nav.users.register}"></h2>

        <form class="form-horizontal" method="post" action="/user/register" th:object="${user}">

            <div class="form-group">
                <label class="control-label col-sm-2" for="dni">DNI:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dni" name="dni"
                           th:placeholder="#{user.example.dni}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"  for="name" th:text="#{user.name}">:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name"
                           th:placeholder="#{user.example.name}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="lastName" th:text="#{user.lastName}">:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           th:placeholder="#{user.example.lastName}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password" th:text="#{user.password}">:</label>
                <div class="col-sm-10">
                    <input th:value="${user.password}" type="text" class="form-control" id="password" name="password"
                           readonly required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{send}"></button>
                </div>
            </div>

        </form>
    </div>
    <footer th:replace="fragments/footer"/>
</body>
</html>