<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>

<div class="container">

    <h2 th:text="#{refuel.register}"></h2>

    <form th:action="@{/refuel/new}" th:object="${refuel}" method="post">

        <!-- Mostrar errores si existen -->
        <div th:if="${#fields.hasErrors()}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

        <div>
            <label th:text="#{refuel.station}"></label>
            <input name="gasolinera" type="text" th:field="*{stationName}" />
        </div>

        <div>
            <label th:text="#{refuel.price}"></label>
            <input name="precioLitro" type="number" step="0.01" th:field="*{fuelPrice}" />
        </div>

        <div>
            <label th:text="#{refuel.quantity}"></label>
            <input name="litros" type="number" step="0.01" th:field="*{fuelQuantity}"  />
        </div>

        <div>
            <label th:text="#{refuel.isFullTank}"></label>
            <input type="checkbox" th:field="*{fullTank}"/>
        </div>

        <div>
            <label th:text="#{refuel.odometer}"></label>
            <input name="odometro" type="number" step="0.1" th:field="*{odometer}" />
        </div>

        <div>
            <label th:text="#{observations.optional}"></label>
            <textarea th:field="*{observations}"></textarea>
        </div>

        <button type="submit" class="btn" th:text="#{send}"></button>
    </form>

</div>

<footer th:replace="fragments/footer"/>
</body>
</html>