<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">

    <h2 th:text="#{vehicles}"></h2>

    <p th:text="#{vehicles.info}"></p>

    <div class="table-responsive">

        <button type="button" id="updateButton" class="btn btn-primary" th:text="#{update}"></button>

        <script>
            $( "#updateButton" ).click(function() {
                $("#vehiclesTable").load('/vehicle/free/update');
            });
        </script>

        <table class="table table-hover" th:fragment="vehiclesTable" id="vehiclesTable">

            <thead>
                <tr>
                    <th scope="col" >Estado</th>
                    <th scope="col" th:text="#{vehicle.registration}"></th>
                    <th scope="col" th:text="#{vehicle.brand}"></th>
                    <th scope="col" th:text="#{vehicle.model}"></th>
                    <th scope="col" th:text="#{vehicle.odometer}"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="vehicle : ${vehicles}">
                    <td th:text="${vehicle.isFree} ? 'LIBRE' : 'OCUPADO'"></td>
                    <td th:text="${vehicle.plate}"></td>
                    <td th:text="${vehicle.brandName}"></td>
                    <td th:text="${vehicle.model}"></td>
                    <td th:text="${vehicle.odometer}"></td>
                    <td><a th:href="${'/vehicle/refuels/' + vehicle.id}" th:text="#{refuels}">refuels</a></td>
                    <td><a th:href="${'/path/vehicle/' + vehicle.getPlate()}" th:text="#{paths}">paths</a></td>
                </tr>
            </tbody>

        </table>

    </div>

    <footer th:replace="fragments/pagination"/>

</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
